{{ define "main" }}



<section class="home-links">
  <ul class="Words">
    <li class="Words-line">
      <p>rugu</p>
      <p>guru</p>
    </li>
    <li class="Words-line">
      <p>guru</p>
      <p>rugu</p>
    </li>
    <li class="Words-line">
      <p>rugu</p>
      <p>guru</p>
    </li>
    <li class="Words-line">
      <p>guru</p>
      <p>rugu</p>
    </li>
    <li class="Words-line">
      <p>rugu</p>
      <p>guru</p>
    </li>
    <li class="Words-line">
      <p>guru</p>
      <p>rugu</p>
    </li>
    <li class="Words-line">
      <p>rugu</p>
      <p>guru</p>
    </li>
    <li class="Words-line">
      <p>guru</p>
      <p>rugu</p>
    </li>
    <li class="Words-line">
      <p>rugu</p>
      <p>guru</p>
    </li>
    <li class="Words-line">
      <p>guru</p>
      <p>rugu</p>
    </li>
    <li class="Words-line">
      <p>rugu</p>
      <p>guru</p>
    </li>
    <li class="Words-line">
      <p>guru</p>
      <p>rugu</p>
    </li>
    <li class="Words-line">
      <p>rugu</p>
      <p>guru</p>
    </li>
    <li class="Words-line">
      <p>guru</p>
      <p>rugu</p>
    </li>
    <li class="Words-line">
      <p>
        <a href="/fen/fen-install-guide/">
          guide
        </a>
      </p>
      <p>
        <a href="/fen/fen-install-guide/">
          guide
        </a>
      </p>
    </li>
    <li class="Words-line">
      <p>
        <a href="/fen/fen-install-guide/">
          guide
        </a>
      </p>
      <p>
        <a href="/fen/fen-install-guide/">
          guide
        </a>
      </p>
    </li>
    <li class="Words-line">
      <p>guru</p>
      <p>rugu</p>
    </li>
    <li class="Words-line">
      <p>rugu</p>
      <p>guru</p>
    </li>
    <li class="Words-line">
      <p>guru</p>
      <p>rugu</p>
    </li>
    <li class="Words-line">
      <p>rugu</p>
      <p>guru</p>
    </li>
    <li class="Words-line">
      <p>guru</p>
      <p>rugu</p>
    </li>
    <li class="Words-line">
      <p>rugu</p>
      <p>guru</p>
    </li>
    <li class="Words-line">
      <p>guru</p>
      <p>rugu</p>
    </li>
    <li class="Words-line">
      <p>rugu</p>
      <p>guru</p>
    </li>
    <li class="Words-line">
      <p>guru</p>
      <p>rugu</p>
    </li>
    <li class="Words-line">
      <p>rugu</p>
      <p>guru</p>
    </li>
    <li class="Words-line">
      <p>guru</p>
      <p>rugu</p>
    </li>
    <li class="Words-line">
      <p>rugu</p>
      <p>guru</p>
    </li>
    <li class="Words-line">
      <p>guru</p>
      <p>rugu</p>
    </li>
    <li class="Words-line">
      <p>rugu</p>
      <p>guru</p>
    </li>
    <li class="Words-line">
      <p>guru</p>
      <p>rugu</p>
    </li>
  </ul>
</section>

<style>
  .navbar {
    background-color: transparent !important;
  }

  .navbar-brand {
    display: none;
  }
</style>

{{ end }}

